* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    color: #666;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 5.40rem;
    margin-bottom: 4.20rem;
    border-bottom: 2px solid #898989;
    padding-bottom: 1rem;
    color: #323232;
    font-size: 1.375rem;
    font-weight: 300;
}

img {
    width: 100%;
}


/***HEADER
************************************/
.header {
    height: 100vh;
    position: relative;
    width: 100%;
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F5;
}

.nav__div--logo {
    height: 40px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-zentro {
    text-transform: uppercase;
    color: #444;
    font-weight: 800;
}

.menu-icon {
    position: absolute;
    font-size: 1.5625rem;
    right: 4%;
    top: 1.4%;
    cursor: pointer;
    color: #666;
}

.nav__div--navbar {
    display: none;
    flex-direction: column;
    border-top: 1px solid rgb(211, 211, 211);
    display: none;
}

.visible {
    display: flex;
}

.a--navbar {
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 1.5px;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
    margin-bottom: 5%;
}

.h2 {
    text-transform: uppercase;

}

.h1--header,
.h2--header {
    text-align: center;
    color: #F6F6F5;
}

.contenedor--header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30vh;
    left: 20%;
}

.btn--header {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.715rem;
    font-weight: 800;
    margin-top: 10%;
    border: 3px solid #F6F6F5;
    color: #F6F6F5;
    padding: 12px 30px;
    letter-spacing: 1px;
}




/***SECTION-FOOD-GALLERY
************************************/
.div--food-gallery {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}

.div--food-gallery:last-child {
    margin-bottom: 6.25rem;
}

.contenedor--div-img {
    width: 100%;
}

.p--food {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 0.625rem;
    margin-bottom: 0.425rem;
    color: #494949;
    font-size: 1.125rem;
}

.p--ingrediente {
    text-transform: capitalize;
    font-size: 0.875rem;
    color: rgb(83, 83, 83);
}

/***SECTION-MENU
************************************/
.section--menu {
    background-color: #F0F0F0;
}

.div--contenedor-menu {
    width: 90%;
}

.div--menu-primero,
.div--menu-segundo {
    width: 100%;
}

.div--menu--food {
    margin-bottom: 3.125rem;
}

.div--menu-segundo .div--menu--food:last-child {
    margin-bottom: 6.25rem;
}

/***SECTION-CHEFS
************************************/
.div--contenedor-chefs {
    width: 90%;
}

.contenedor--div-img-chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.875rem;
}

.contenedor--div-img-chef:last-child {
    margin-bottom: 100px;
}

.p--nombre {
    text-transform: capitalize;
    color: #666;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.125rem;
}

.p--profesion {
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
    color: #323232;
}

/***SECTION-FORM
************************************/
.section--form {
    background-color: #F0F0F0;
}

.div--contenedor-form {
    width: 90%;
    display: flex;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin-bottom: 20%;
}

.div--nommail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.input {
    height: 45%;
    color: #999999;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.textarea {
    text-transform: capitalize;
    color: #999999;
    font-size: 1rem;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 5px;
}

.btn--submit {
    width: 100%;
    border: 2px solid #999999;
    height: 14%;
    border-radius: 6px;
    color: #999999;
    letter-spacing: 1px;
}

